@keyframes fontColor {

    0% {
        color: red;
        transform: translate(10px, 20px) rotate(20deg)
    }

    10% {
        color: rgb(202, 95, 95);
    }

    20% {
        color: rgb(245, 207, 40);
    }

    30% {
        color: rgb(71, 231, 38);
    }

    40% {
        color: rgb(29, 208, 231);
    }

    50% {
        color: rgb(58, 55, 238);
        transform: translate(10px, 0px) rotate(-20deg);
    }

    60% {
        color: rgb(196, 35, 236);
    }

    70% {
        color: rgb(202, 7, 153);
    }

    80% {
        color: rgb(177, 14, 14);
    }

    90% {
        color: rgb(47, 252, 200);
    }

    100% {
        color: rgb(252, 78, 47);
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

h1 {
    font-family: "Salsa", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 12em;

    animation-name: fontColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


    /* animation-duration: ; */
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 3em;
    }
}